body {
  margin: 0;
  background-color: #f5f6fa;
  font-family: Arial, sans-serif;
  color: #3f4858;
}

.logo:hover {
  color: green;
}

nav a {
  color: black;
}

.join:hover {
  color: green;
}

.active:hover {
  color: green;
  text-decoration: none;
}

.nav:hover {
  text-decoration: none;
  color: green;
}

.about:hover {
  color: green;
  text-decoration: none;
}

footer a:hover {
  color: green;
  text-align: none;
}

.nav a:hover {
  text-decoration: none;
  color: green;
}

header {
  width: 900px;
  margin: 0 auto;
  background-color: white;

  height: 70px;

  font-weight: bold;
  
  display: flex;
  align-items: center;
  justify-content: space-between;


  width: 100%;
  margin: 0;
  padding-left: 125px;
  padding-right: 125px;

  border: 3px solid green;

  padding: 0 30px;
  box-sizing: border-box;
}

.join {
  justify-self: end;
  background: #121214;
  color: #fff;
  padding: 15px 24px;
  border-radius: 999px;
  font-weight: 700;
  text-decoration: none;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: black;
}


nav {
  display: flex;
  align-items: center;
  gap: 45px;
}

.community {
  color: green;
}

.about {
  color: black;
}

nav a {
  text-decoration: none;
}

nav .active {
  color: black;
}


button {
  background-color: black;
  color: white;

  border: none;
  border-radius: 20px;

  padding: 8px 18px;

  cursor: pointer;
}


main {
  width: 900px;
  margin: 0 auto;
  background-color: white;

  width: 100%;
  margin: 0;
  padding-left: 125px;
  padding-right: 125px;

  padding: 30px;
  box-sizing: border-box;
}


.article {
  display: flex;
  align-items: flex-start;

  gap: 20px;

  margin-bottom: 35px;
}


.text {
  flex: 1;
  border: 3px solid green;
  padding: 10px;
  border-radius: 20px;
}

.text h2 {
  font-size: 17px;
  margin: 0;
}

.text p {
  font-size: 15px;
  margin: 3px 0;
}

.text b {
  font-size: 15px;
}


.text a {
  color: black;
  text-decoration: none;

  font-size: 14px;
}


.article img {
  width: 155px;
  height: 155px;

  object-fit: cover;
}


footer {
  width: 900px;
  height: 70px;

  margin: 0 auto;

  font-weight: bold;
  
  background-color: white;

  width: 100%;
  margin: 0;
  padding-left: 125px;
  padding-right: 125px;


  border: 3px solid green;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 30px;
  box-sizing: border-box;

  

  font-size: 10px;
}


footer p {
  font-size: 7px;
}


.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  color: #555;
  text-decoration: none;
  font-size: 7px;
}
