* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    font-weight: bold;
    display: flex;
    justify-content: center; 
    align-items: center;     
    min-height: 100vh;       
}
#joinBtn {
    margin: 50px;
    padding: 12px 30px;
    background: #222;
    color: white;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: #0008;
    justify-content: center;
    align-items: center;
}
.login-box {
    width: 700px;
    padding: 35px 40px;
    background: white;
    border-radius: 25px;
    position: relative;
}
h1 {
    text-align: center;
    color: green;
    margin: 0 0 50px;
}
label {
    display: block;
    margin: 7px 0;
    color: #444;
}
input {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 9px;
}
.password-box {
    position: relative;
}
#showPassword {
    position: absolute;
    right: 5px;
    top: 5px;
    border: 0;
    background: none;
    cursor: pointer;
}
.remember {
    display: flex;
    align-items: center;
    gap: 7px;
    color: #888;
}
.remember input {
    width: 16px;
    height: 16px;
}
.loginBtn {
    width: 100%;
    height: 42px;
    margin-top: 10px;
    border: 0;
    border-radius: 9px;
    background: #eee;
    color: #666;
    cursor: pointer;
    border: 2px solid black;
    background-color: green;
}
.close {
    position: absolute;
    right: 15px;
    top: 10px;
    border: 0;
    background: none;
    font-size: 28px;
    color: #777;
    cursor: pointer;
}

button {
border: 4px solid black;
    background-color: green;
}
